@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding-left: 0;
    margin-top: 2rem;
}

.pagination li {
    margin: 0 10px;
}

.pagination li a,
.pagination li span {
    display: inline-block;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    background-color: #f1f1f1;
    border-radius: 8px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.pagination li a:hover {
    background-color: #333;
    color: #fff;
}

.pagination .active span {
    background-color: #007bff;
    color: white;
    border: 2px solid #007bff;
}

.pagination .disabled span {
    color: #ccc;
    cursor: not-allowed;
    background-color: #e9ecef;
}
